      /* General styles */
      
      * {
        box-sizing: border-box;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
      }
      
      body {
      /*   background-size: cover; */
      color: #757575;
        font-family: "proxima-nova", sans-serif;
        font-size: 1.4em;
      }
      
      
      /* Remove default form element appearance */
      
      input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      
      
      /* positioning and background image*/
      
      input[type="range"] {
        width: 100%;
    height: 26px;
    background: #eae6e6;
    background: repeating-linear-gradient(
90deg
, #17263c, #bbb 2px, transparent 0px, transparent 35.35px);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 7px center;
      }
      
      
      /* Form element re-Styling */
      
      input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        /*    background: #ff7860;*/
        background: #FF5E00;
        width: 100%;
        height: 4px;
        border-radius: 4px;
      }
      
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 3px solid #FF5E00;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #fff;
        margin-top: -6px;
      }
      
      input[type=range]:focus {
        outline: none;
      }
      
      /* scores box styles */
      
      .score {
        text-align: center;
        display: inline-block;
        font-family: "proxima-nova", sans-serif;
        font-size: 1em;
        /* font-weight: bold; */
        background: #2E2E2E;
        color: #fff;
        border-radius: 8px;
        height: 34px;
        padding-top: 3px;
        position: absolute;
        top: 5px;
        right: -5px;
        margin-left: 10px;
        padding: 5px;
      }
      
      
      /* Form presentation element styles */
      
      #container {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 20vw;
        margin: 30px auto 0;
        padding: 12px 30px 30px 30px;
        background: rgb(29 36 43);
        box-shadow: #202021 0 25px 38px;
        border-radius: 2%;
      }
      
      #container h1 {
        line-height: 42px;
        margin: 5px 0 5px;
        font-size: 30px;
      }
      
      label {
        font-family: "proxima-nova", sans-serif;
        display: inline-block;
        margin-bottom: 7px;
        margin-top: 8px;
      }
      
      hr {
        border: 1px solid #ccc;
        margin-bottom: 11px;
      }
      
      
      /* Button Styles */
      
      input[type="submit"] {
        font-family: "proxima-nova", sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
        color: #fff;
        width: 100%;
        height: 52px;
        margin-top: 12px;
        /*    border-radius: 10px;*/
        background: #FF5E00;
        border: none;
        border-bottom: 5px solid #b44200;
        /*    border: 2px solid #FF5E00;*/
      }
      
      
      /* CSS alt colour */
      
      input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #273038;
      }
      
      input[type=range]::-webkit-slider-thumb {
        border-color: #4a545d;
      }
      
      input[type=range]::-webkit-slider-thumb:hover {
        border-color: #273038;
      }
      
      input[type=range]::-webkit-slider-thumb:active {
        border-color: #273038;
      }
      
      input[type="submit"] {
        background: #273038;
        border-bottom-color: #273038;
      }
      
      input[type="submit"]:hover {
        background: #273038;
        border-bottom-color: #273038;
        color: #eee;
      }
      .perf {
        position: relative;
        padding-bottom: 10px;
      }